{% extends "base.html" %}

{% block content %}
    <div class='main_desc'>
        <h2>The Team!</h2>
        <div class='center'>
            <figure>
                <a target="_blank" href="https://www.linkedin.com/in/sigala-hernandez-radosevich-a03b46123/">
                    <img class='photo' src='{{ url_for('static', filename='images/photos/sigala.jpg') }}' alt='Sigala Hernandez'>
                    <figcaption>Sigala Hernandez</figcaption>
                </a>
            </figure>
            <figure>
                <a target="_blank" href="https://www.linkedin.com/in/spencer-h-95690191/">
                    <img class='photo' src='{{ url_for('static', filename='images/photos/spencer.jpg') }}' alt='Spencer Hirata'>
                    <figcaption>Spencer Hirata</figcaption>
                </a>
            </figure>
            <figure>
                <a target="_blank" href="https://www.linkedin.com/in/joseph-ylagan-a21898bb/">
                    <img class='photo' src='{{ url_for('static', filename='images/photos/joe.jpg') }}' alt='Joe Ylagan'>
                    <figcaption>Joe Ylagan</figcaption>
                </a>
            </figure>
            <figure>
            <a target="_blank" href="https://www.linkedin.com/in/austin-lesure-99a75231/">
                <img class='photo' src='{{ url_for('static', filename='images/photos/austin.png') }}' alt='Austin LeSure'>
                <figcaption>Austin LeSure</figcaption>
            </a>
        </figure>
        </div>
    </div>

    <div class='main_desc'>
    <h3>Like our game?</h3>
    <p>Fill out this form to let us know how awesome it is! You can also report any bugs, suggestions, or any questions. OR you can just stop by and say hi!</p>
        <div>
            <form action="/contact" method="post">
                <table>
                    <tr>
                        <td><label for="name">Your Full Name:</label></td>
                        <td>
                            <input type="text" name="name" value="{{ name }}">
                        </td>
                    </tr>
                    <tr>
                        <td><label for="message">Your message!</label></td>
                        <td>
                            <textarea name="message" type="text" value="{{ message }}"></textarea>
                        </td>
                    </tr>
                </table>
                <input type="submit" value="Send!">
            </form>
        </div>
    </div>

{% endblock %}
