{% extends "base.html" %}

{% block content %}
<div class='main_desc'>
	<h2>The Team!</h2>
	<ul>
		<li><a target="_blank" href="https://www.linkedin.com/in/sigala-hernandez-radosevich-a03b46123/">Sigala Hernandez</a></li>
		<li><a target="_blank" href="https://www.linkedin.com/in/spencer-h-95690191/">Spencer Hirata</a></li>
		<li><a target="_blank" href="https://www.linkedin.com/in/joseph-ylagan-a21898bb/">Joe Ylagan</a></li>
		<li><a target="_blank" href="https://www.linkedin.com/in/austin-lesure-99a75231/">Austin LeSure</a></li>
	</ul>
</div>
{% endblock %}
