{% extends "base.html" %}

{% block content %}
<script src="//cdn.jsdelivr.net/phaser/2.5.0/phaser.min.js"></script>
<div class='main_desc'>
	<p><em>Insert Game Here</em></p>
	<script type="text/javascript">

        var game = new Phaser.Game(800, 640, Phaser.AUTO, 'phaser-example', { preload: preload, create: create, update: update });

        function preload() {
            game.load.image('background', '/static/images/LevelOneFinal.png');
            game.load.spritesheet('ball', '/static/images/redBall.png');
            game.load.spritesheet('peg_red', '/static/images/redBlock.png');
            game.load.spritesheet('peg_green', '/static/images/greenBlock.png');
            game.load.spritesheet('cannon', '/static/images/cannon.png')
        }



        var ball;
        var pegsGreen;
        var pegsRed;
        var cannon;

        var ballInCannon = true;

        var score = 0;

        var scoreText;
        var introText;

        var background;

        function create() {
            game.physics.startSystem(Phaser.Physics.ARCADE);

            game.physics.arcade.checkCollision.down = false;

            var backgroundLayer = game.add.group();

            background = backgroundLayer.create(0,0, 'background');

            pegsGreen = game.add.group();
            pegsGreen.enableBody = true;
            pegsGreen.physicsBodyType = Phaser.Physics.ARCADE;

            var peg_green;
            var peg_red;

            for (var y = 0; y < 2; y++) {
                for (var x = 0; x < 12; x++) {
                    peg_green = pegsGreen.create(60 + (x * 60), 100 + (y * 140), 'peg_green');
                    peg_green.body.immovable = true;
                    peg_green.body.moves = false;
                }
            }

            for (var y = 0; y < 2; y++) {
                for (var x = 0; x < 14; x++) {
                    peg_green = pegsGreen.create(30 + (x * 60), 170 + (y * 140), 'peg_green');
                    peg_green.body.immovable = true;
                    peg_green.body.moves = false;
                }
            }

            pegsRed = game.add.group();
            pegsRed.enableBody = true;
            pegsRed.physicsBodyType = Phaser.Physics.ARCADE;

            for (var y = 0; y < 2; y++) {
                for (var x = 0; x < 2; x++) {
                    peg_red = pegsGreen.create(240 + (x * 300), 100 + (y * 140), 'peg_red');
                    peg_red.body.immovable = true;
                    peg_red.body.moves = false;
                }
            }

            for (var y = 0; y < 2; y++) {
                for (var x = 0; x < 2; x++) {
                    peg_red = pegsGreen.create(150 + (x * 480), 170 + (y * 140), 'peg_red');
                    peg_red.body.immovable = true;
                    peg_red.body.moves = false;
                }
            }

            cannon = game.add.sprite(400, 30, 'cannon');
            cannon.angle = 90;
            cannon.scale.setTo(0.05, 0.08);
            cannon.anchor.setTo(0.5, 0.5);

            game.physics.enable(cannon, Phaser.Physics.ARCADE);

            cannon.body.collideWorldBounds = true;
            cannon.body.immovable = true;
            cannon.body.moves = false;

            ball = game.add.sprite(400, cannon.y + 27, 'ball');
            ball.scale.setTo(0.1);
            ball.anchor.set(0.5);
            ball.checkWorldBounds = true;

            game.physics.enable(ball, Phaser.Physics.ARCADE);

            ball.body.collideWorldBounds = true;
            ball.body.bounce.set(.5);

            ball.events.onOutOfBounds.add(ballLost, this);

            scoreText = game.add.text(32, 550, 'score: 0', { font: "20px Arial", fill: "#000", align: "left" });
            introText = game.add.text(game.world.centerX, 400, '- click to start -', { font: "40px Arial", fill: "#000", align: "center" });
            introText.anchor.setTo(0.5, 0.5);

            game.input.onDown.add(releaseBall, this);
        }

        function update () {
            cannon.x = game.input.x;

            if (cannon.x < 24)
            {
                cannon.x = 24;
            }
            else if (cannon.x > game.width - 24)
            {
                cannon.x = game.width - 24;
            }
            if (ballInCannon)
            {
                ball.body.x = cannon.x - 13;
            }
            else {
                game.physics.arcade.collide(ball, pegsGreen, ballHitPegGreen, null, this);
                game.physics.arcade.collide(ball, pegsRed, ballHitPegRed, null, this);
            }
        }

        function releaseBall () {
            if (ballInCannon)
            {
                ballInCannon = false;
                game.physics.arcade.gravity.y = 200;
                introText.visible = false;
            }
        }

        function ballLost () {
            ballInCannon = true;
            ball.reset(cannon.body.x - 13, cannon.y + 27);
            game.physics.arcade.gravity.y = 0;
        }

        function ballHitPegGreen (_ball, _peg) {
            ball.body.bounce.set(.5);
            var diff = 0;
            if (_ball.x < _peg.x)
            {
                diff = _peg.x - _ball.x;
                _ball.body.velocity.x = (-5 * diff);
            }
            else if (_ball.x > _peg.x)
            {
                diff = _ball.x -_peg.x;
                _ball.body.velocity.x = (5 * diff);
            }
            else
            {
                _ball.body.velocity.x = 5 + Math.random() * 8;
            }
        }

        function ballHitPegRed (_ball, _peg) {
            ball.body.bounce.set(20);
            var diff = 0;
            if (_ball.x < _peg.x)
            {
                diff = _peg.x - _ball.x;
                _ball.body.velocity.x = (-5 * diff);
            }
            else if (_ball.x > _peg.x)
            {
                diff = _ball.x -_peg.x;
                _ball.body.velocity.x = (5 * diff);
            }
            else
            {
                _ball.body.velocity.x = 5 + Math.random() * 8;
            }
        }
        
        function render() {
            
        }
		
		
	</script>
</div>
{% endblock %}
