{% extends "base.html" %}

{% block content %}
<script src="//cdn.jsdelivr.net/phaser/2.5.0/phaser.min.js"></script>
<div class='center'>
	<script type="text/javascript">

        var game = new Phaser.Game(800, 640, Phaser.AUTO, 'phaser-example', { preload: preload, create: create, update: update });

        function preload() {
            game.load.spritesheet('ball', '/static/images/redBall.png');
            game.load.spritesheet('peg_red', '/static/images/redBlock.png');
            game.load.spritesheet('peg_green', '/static/images/greenBlock.png');
            game.load.spritesheet('cannon', '/static/images/cannon.png');
            game.load.spritesheet('boundary', '/static/images/wallBoundary.png');
            game.load.spritesheet('bucketBackground', '/static/images/bucketBackground.png');
            game.load.image('bucketForeground', '/static/images/bucketForeground.png');
            game.load.image('button', '/static/images/unpressed.png');
        }



        var ball;

        var pegsGreen;
        var pegsRed;
        var peg_green;
        var peg_red;

        var slides;
        var slide;

        var cannon;
        var ballInCannon = true;

        var bucketBackgrounds;
        var bucketForegrounds;
        var bucketBackground;
        var bucketForeground;
        var boundary;
        var pixelBoundary;
        //var bucket;

        var score = 0;
        var scoreText;
        var introClick;

        function create() {
            game.physics.startSystem(Phaser.Physics.ARCADE);

            game.physics.arcade.checkCollision.down = false;

            game.stage.backgroundColor = "#4488AA";

            slides = game.add.group();
            slides.enableBody = true;
            slides.physicsBodyType = Phaser.Physics.ARCADE;

            for (y = 0; y < 20; y++) {
                slide = slides.create(y * 2, 65 + y, 'boundary');
                slide.body.immovable = true;
                slide.body.moves = false;
            }

            for (y = 0; y < 20; y++) {
                slide = slides.create(800 - y * 2, 65 + y, 'boundary');
                slide.body.immovable = true;
                slide.body.moves = false;
            }

            cannon = game.add.sprite(400, 30, 'cannon');
            cannon.scale.setTo(0.07, 0.07);
            cannon.anchor.setTo(0.5, 0.5);

            //Creating bucket layers
            boundary = game.add.group();
            boundary.enableBody = true;
            boundary.physicsBodyType = Phaser.Physics.ARCADE;

            bucketBackgrounds = game.add.group();
            bucketBackgrounds.enableBody = true;
            bucketBackgrounds.physicsBodyType = Phaser.Physics.ARCADE;

            ball = game.add.sprite(400, cannon.y + 27, 'ball');
            ball.scale.setTo(0.1);
            ball.anchor.set(0.5);
            ball.checkWorldBounds = true;

            bucketForegrounds = game.add.group();

            //Creates buckets
                for (var x = 0; x < 5; x++) {
                    bucketBackground = bucketBackgrounds.create(80 + (x * 160), 640, 'bucketBackground');
                    bucketForeground = bucketForegrounds.create(80 + (x * 160), 640, 'bucketForeground');
                    bucketBackground.anchor.setTo(0.5,1);
                    bucketForeground.anchor.setTo(0.5,1);

                    if (x == 0 || x == 4) {
                        bucketBackground.scale.setTo(0.75);
                        bucketForeground.scale.setTo(0.75);

                        game.physics.enable(bucketBackground, Phaser.Physics.ARCADE);
                        bucketBackground.body.immovable = true;
                        bucketBackground.body.moves = false;
                        bucketBackground.body.setSize(170, 0, 10, 80);
                    }

                    else if (x == 1 || x == 3) {
                        bucketBackground.scale.setTo(0.48);
                        bucketForeground.scale.setTo(0.48);

                        game.physics.enable(bucketBackground, Phaser.Physics.ARCADE);
                        bucketBackground.body.immovable = true;
                        bucketBackground.body.moves = false;
                        bucketBackground.body.setSize(140, 0, 8, 80);
                    }

                    else {
                        bucketBackground.scale.setTo(0.4);
                        bucketForeground.scale.setTo(0.4);

                        game.physics.enable(bucketBackground, Phaser.Physics.ARCADE);
                        bucketBackground.body.immovable = true;
                        bucketBackground.body.moves = false;
                        bucketBackground.body.setSize(130, 0, 4, 80);
                    }
            }

            //Places boundary pixels
            placeBoundary(794,524);
            placeBoundary(644,524);
            placeBoundary(607,566);
            placeBoundary(511,566);
            placeBoundary(439,578);
            placeBoundary(359,578);
            placeBoundary(287,566);
            placeBoundary(191,566);
            placeBoundary(154,524);
            placeBoundary(4,524);

            pegsGreen = game.add.group();
            pegsGreen.enableBody = true;
            pegsGreen.physicsBodyType = Phaser.Physics.ARCADE;

            pegsRed = game.add.group();
            pegsRed.enableBody = true;
            pegsRed.physicsBodyType = Phaser.Physics.ARCADE;


            // Creates green pegs for the 1st and 3rd Row. Skips Red.
            for (var y = 0; y < 2; y++) {
                for (var x = 0; x < 12; x++) {
                    if (x == 3 || x == 8) {
                            continue;
                        }
                    peg_green = pegsGreen.create(60 + (x * 60) + game.rnd.integerInRange(-5, 5), 100 + (y * 140), 'peg_green');
                    peg_green.body.immovable = true;
                    peg_green.body.moves = false;
                    peg_green.anchor.setTo(0.5,0);
                }
            }

            //Creates green pegs for the 2nd and 4th Row. Skips red.
            for (var y = 0; y < 2; y++) {
                for (var x = 0; x < 13; x++) {
                    if (x==2 || x == 10) {
                        continue;
                    }
                    peg_green = pegsGreen.create(30 + (x * 60) + game.rnd.integerInRange(-5, 5), 170 + (y * 140), 'peg_green');
                    peg_green.body.immovable = true;
                    peg_green.body.moves = false;
                    peg_green.anchor.setTo(0.5,0);
                }
            }

            // Creates red peg in 1st and 3rd row
            for (var y = 0; y < 2; y++) {
                for (var x = 0; x < 2; x++) {
                    peg_red = pegsRed.create(240 + (x * 300) + game.rnd.integerInRange(-5, 5), 100 + (y * 140), 'peg_red');
                    peg_red.body.immovable = true;
                    peg_red.body.moves = false;
                    peg_red.anchor.setTo(0.5,0);
                }
            }

            // Create red peg in 2nd and 4th row
            for (var y = 0; y < 2; y++) {
                for (var x = 0; x < 2; x++) {
                    peg_red = pegsRed.create(150 + (x * 480) + game.rnd.integerInRange(-5, 5), 170 + (y * 140), 'peg_red');
                    peg_red.body.immovable = true;
                    peg_red.body.moves = false;
                    peg_red.anchor.setTo(0.5,0);
                }
            }
            


            game.physics.enable(cannon, Phaser.Physics.ARCADE);

            cannon.body.collideWorldBounds = true;
            cannon.body.immovable = true;
            cannon.body.moves = false;


            game.physics.enable(ball, Phaser.Physics.ARCADE);

            ball.body.collideWorldBounds = true;
            ball.body.bounce.set(.5);

            ball.events.onOutOfBounds.add(gameReset, this);

            //Set Score Text onto playing screen
            scoreText = game.add.text(32, 550, 'score: ' + score, { font: "20px Arial", fill: "white", align: "left" });
            introClick = game.add.sprite(game.world.centerX, 400,'button');
            introClick.scale.setTo(0.5);
            introClick.anchor.setTo(0.5, 0.5);

            game.input.onDown.add(releaseBall, this);
        }

        function update () {
            cannon.x = game.input.x;

            if (cannon.x < 24)
            {
                cannon.x = 24;
            }
            else if (cannon.x > game.width - 24)
            {
                cannon.x = game.width - 24;
            }
            if (ballInCannon)
            {
                ball.body.x = cannon.x - 13;
            }
            else {
                game.physics.arcade.collide(ball, boundary, ballHitPegGreen, null, this);
                game.physics.arcade.collide(ball, slides, ballHitPegGreen, null, this);
                game.physics.arcade.collide(ball, pegsGreen, ballHitPegGreen, null, this);
                game.physics.arcade.collide(ball, pegsRed, ballHitPegGreen, null, this);

                game.physics.arcade.collide(ball, bucketBackgrounds, ballHitBucket, null, this);
            }
        }

        function releaseBall () {
            if (ballInCannon)
            {
                ballInCannon = false;
                game.physics.arcade.gravity.y = 200;
                introClick.visible = false;
            }
        }

        function gameReset () {
            this.game.state.restart()
            ballInCannon = true;
        }

        function ballHitPegGreen (_ball, _peg) {
            ball.body.bounce.set(.5);
            var diff = 0;
            if (_ball.x < _peg.x)
            {
                diff = _peg.x - _ball.x;
                _ball.body.velocity.x = (-2.5 * diff);
            }
            else if (_ball.x > _peg.x)
            {
                diff = _ball.x -_peg.x;
                _ball.body.velocity.x = (2.5 * diff);
            }
            else
            {
                _ball.body.velocity.x = 2.5 + Math.random() * 8;
            }
        }

        function ballHitPegRed (_ball, _peg) {
            ball.body.bounce.set(1);
            var diff = 0;
            if (_ball.x < _peg.x)
            {
                diff = _peg.x - _ball.x;
                _ball.body.velocity.x = (-3 * diff);
            }
            else if (_ball.x > _peg.x)
            {
                diff = _ball.x -_peg.x;
                _ball.body.velocity.x = (3 * diff);
            }
            else
            {
                _ball.body.velocity.x = 3 + Math.random() * 8;
            }
        }

        function placeBoundary(x,y) {

            pixelBoundary = boundary.create(x,y,'boundary');
            pixelBoundary.body.immovable = true;
            pixelBoundary.body.moves = false;
        }

        function ballHitBucket(_ball, _bucket) {
            score = score + 1;
            scoreText.text = 'score: ' + score;
            gameReset();
        }

        function ballHitMediumBucket(_ball, _bucket) {
            score = score + 2;
            scoreText.text = 'score: ' + score;
            gameReset();
        }

        function ballHitSmallBucket(_ball, _bucket) {
            score = score + 3;
            scoreText.text = 'score: ' + score;
            gameReset();
        }
        
        function render() {
            
        }
		
		
	</script>
</div>
{% endblock %}
