{% extends "base.html" %}

{% block content %}
<div class='main_desc'>
	<p>Hello! Welcome to our LC 101 Project -- Pachinko! The famous ball drop game. The instructions are very simple, shoot the ball and try to land in one of the scoring buckets...</p>
    <p>Except there is a catch to it... you have somehow get through the pegs!</p>
    <p>The game Pachinko originated in Japan and is played mainly as a recreational arcade game or a gambling device. Pachinko is very similar to western styled pinball machines except
    Pachinko is a vertical pinball game. Players use little small balls to spring into the playing field, where it falls freely, hoping it lands in a scoring bucket. In our game, each
    bucket will count as a  point, depending of degree of difficulty. There are different game modes:</p>

    <ul>
        <li>3-Ball</li>
        <li>5-ball</li>
        <li>Pachinko!</li>
    </ul>


</div>
{% endblock %}
